<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Royal Butler | Twitch bot</title>
</head>
<body>
    <div class="nav">
        <div class="nav-topleft">
            <% icons.forEach(icon => { %>
                <a href="<%= icon.href %>">
                    <i class="<%= icon.name %>"></i>
                </a>
            <% }) %> 
            <% if (user) { %>
                <a href="/admin">
                    <i class="fa fa-terminal"></i>
                </a>
            <% } %>
        </div>
        <% if (user) { %>
        <form action="/logout" method="post" id="logoutForm">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
        <div class="nav-center">
            Welcome, <%= user.displayname %>
        </div>
        
        <div class="nav-topright">
            <label class="switch">
              <input type="checkbox" class="stop-refresh">
              <span class="slider round"></span>
            </label>
            <button class="non-btn" onclick="document.querySelector('#logoutForm').submit()">
                <i class="fa fa-sign-out"></i>
            </button>
        </div>
        <% } %>
    </div>