<%- include('includes/header.ejs') %>
<%- include('includes/flash.ejs') %>
<div class="absoluteCenter" style="position: fixed;">
    <h1>
        404 page not found
    </h1>
</div>

<%- include('includes/footer.ejs') %>
