<%- include('includes/header.ejs') %>

<div class="container">
    <%- include('includes/flash.ejs') %>
    <main class="inputTerminal">
        <div class="tab-title">
            Input Terminal
        </div>

        <div class="tab-content terminal">
            <div class="output terminal scroller">
            </div>
            <div class="input-group prefix">
                <span class="input-group-addon terminal">RoyalButler $ </span>
                <input type="text" name="input" class="terminal-input terminal">
            </div>
        </div>
    </main>

    <main class="logsOutput">
        <div class="tab-title">
            Logs Output
        </div>

        <div class="tab-content">
            <div class="output terminal scroller">
            </div>
        </div>
    </main>

    <main class="onlineUsers">
        <div class="tab-title">
            Online Users
        </div>

        <div class="tab-content user-table scroller">
            <div class="row row-header">
                <div class="col-md-2">User ID</div>
                <div class="col-md-6">Name</div>
                <div class="col-md-4">Points</div>
            </div>
        </div>
    </main>
</div>

<%- include('includes/footer.ejs') %>
